name: Pull Request Validation

on:
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    name: Go Linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          only-new-issues: true
          args: --whole-files
          version: v2.1

  call-unit-tests:
    name: Go Unit tests
    needs:
      - golangci
    uses: "./.github/workflows/unit-tests.yaml"

  call-integration-tests:
    name: Integration tests
    needs:
      - call-unit-tests
    uses: "./.github/workflows/integration-tests.yaml"
